src/main/resources/templates/management_plan_wsdl_template.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ManagementPlan"
	targetNamespace="http://iaas.uni-stuttgart.de/bpmn4tosca/managementplan/"
	xmlns:tns="http://iaas.uni-stuttgart.de/bpmn4tosca/managementplan/"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
	xmlns:si="http://siserver.org/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<types>
		<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://iaas.uni-stuttgart.de/bpmn4tosca/managementplan/"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="planInput">
				<complexType>
					<sequence>
						<element name="containerAPIServiceInstanceURL" type="string" />
						<element name="csarId" type="string" />
						<element name="serviceTemplateIdNamespaceURI" type="string" />
						<element name="serviceTemplateIdLocalPart" type="string" />
						<element name="serviceInstanceId" type="string" />
						<element name="correlationId" type="string" />
						<element name="planCallbackUrl" type="string" /> <!-- TODO workaround since we cannot obtain the plan EPR with Apache ODE -->
					</sequence>
				</complexType>
			</element>
			<element name="planOutput">
				<complexType>
					<sequence>
						<element name="correlationId" type="string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>

	<message name="planInputMessage">
		<part name="payload" element="tns:planInput" />
	</message>
	<message name="planOutputMessage">
		<part name="payload" element="tns:planOutput" />
	</message>


	<plnk:partnerLinkType name="ManagementPlanPLT">
		<plnk:role name="ManagementPlanProvider" portType="tns:ManagementPlanPT" />
		<plnk:role name="ManagementPlanClient" portType="tns:ManagementPlanClientCallbackPT" />
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="OpenTOSCAServiceInvokerPLT">
		<plnk:role name="ServiceInvokerClient" portType="tns:ManagementPlanPT" />
		<plnk:role name="ServiceInvoker" portType="si:InvokePortType" />
	</plnk:partnerLinkType>

	<vprop:property name="ServiceInvokerRequestProperty"
		type="xsd:string" />

	<vprop:propertyAlias 
		messageType="si:invokeResponse"
		part="invokeResponse" 
		propertyName="tns:ServiceInvokerRequestProperty">
		<vprop:query><![CDATA[//*[local-name()="MessageID" and namespace-uri()="http://siserver.org/schema"]]]></vprop:query>
	</vprop:propertyAlias>

	<!-- Port type provides the operation to the client for starting the management 
		plan -->
	<portType name="ManagementPlanPT">
		<operation name="initiatePlan">
			<input message="tns:planInputMessage" />
		</operation>
	</portType>

	<portType name="ManagementPlanClient">
		<operation name="onResult">
			<input message="tns:planOutputMessage" />
		</operation>
	</portType>
</definitions>